# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\College\Year-3\First Semester\Algorithms Analysis and Design\Assignments\Assignment 1\Red Black Tree-C++\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
